* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    list-style-type: none;
    margin: none;
    padding: 10px;
    overflow: hidden;
    background-color: #5f5f5f;

    a {
        float: right;
        display: block;
        color: white;
        background-color: #5f5f5f;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
            background-color: #ff9900;
        }

        &:active {
            background-color: #ff9900;
        }
    }
}

.head1 {
    overflow: hidden;
    background-color: #0d5078;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        float: left;
        font-size: 16px;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    a:hover,
    .dropdown:hover .dropbtn {
        background-color: #ff9900;
    }
}

.dropdown {
    float: left;
    overflow: hidden;
    padding-left: 50px;
    background-color: #0d5078;

    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        font-family: Arial;
        background-color: #0d5078;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
            float: none;
            color: black;
            background-color: #f9f9f9;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover {
                background-color: #ddd;
            }
        }
    }

    &:hover .dropdown-content {
        display: block;
    }
}

.head1 .r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: transparent;

    padding-right: 48px;

    p {
        line-height: 24px;
    }

    p.deal {
        background-color: #0d5078;
        color: #ff9900;
        // font-family: Arial;
        font-weight: bold;
        font-style: italic;

        margin-right: 12px;
    }

    p.d-text {
        background-color: #0d5078;
        color: #f9f9f9;
    }
}